.flavor__content {
	display: flex;
	margin-bottom: 3em;
}
.flavor__content-bl {
	margin-right: 3em;
	&:last-child {
		margin-right: 0;
	}
}

.flavors__img {
	max-width: 100%;
}

@media screen and (max-width: 700px) {
	.flavors {
		padding-top: 3em;
	}
}

@media screen and (max-width: 600px) {
	.flavor__content {
		flex-wrap: wrap;
		justify-content: center;
	}
	.flavor__content-bl {
		margin-right: 0;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}
